.area_wrap {
    display: flex;
    height: 100%;
}

.area_wrap li {
    list-style: none;
}

.city {
    padding: 32px 0px 0px 32px;
    border-right: 1px solid rgba(0,0,0,0.06);
    flex: 1;
}

.city > li {
    height: 25px;
    cursor: pointer;
}

.city > li:hover {
    color: rgb(230,28,81);
}

.address {
    padding: 32px 0px 0px 32px;
    flex: 2;

}

.address > li {
    height: 28px;
    cursor: pointer;
}

.address > li:hover {
    color: rgb(230,28,81);
}