.button_filter_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.four_filter_btn {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
}

.four_filter_btn > button {
    width: 135px;
    height: 40px;
    font-size: 15px;
    background-color: rgba(0,0,0,0.02);
    border: 0px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.four_filter_btn > button:not(:last-child){
    border-right: 1px solid rgba(0,0,0,0.08);
}

.map_btn {
    height: 40px;
    display: flex;
    background-color: rgba(0,0,0,0.02);
    align-items: center;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.map_btn > img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.map_btn > p {
    display: flex;
    align-items: center;
    height: 18px;
    font-size: 15px;
    border: 0px;
    color: rgba(0,0,0,0.6);
}