.score_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0;
    color: rgba(0,0,0,0.87);
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.score_top strong {
    font-size: 24px;
    padding: 0 0 10px 0;
}

.score_wrap {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.star_score {
    padding-right: 12px;
}

.score_top p {
    margin-top: 22px;
    font-size: 18px;
}

.block {
    margin: 0 15px;
    color: rgba(0,0,0,0.08);
}

.review_link {
    color: rgba(0,0,0);
    cursor: pointer;
}

.list_wrap li {
    padding: 47px 0;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}