@font-face {
    font-family: "official_font";
    src: url(Jalnan.ttf)
}

.top_box {
    position: absolute;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7323f;
    color: rgba(255, 255, 255, 0.8);

}

.top_box h1 {
    font-family: "official_font";
    font-size: 20px;
    color: #fff;
}

/* scroll event start */

.scrolled_top_box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    transition: 0.4s;
}

.top_box > h1 > a{
    text-decoration: none; 
    color : #fff
}

.scrolled_top_box > h1 > a{
    color: #f7323f;
}

.scrolled_header_login{
    text-decoration: none;
    color: black;
}

.scrolled_header_login:hover{
    color: rgba(0,0,0, 0.8);
}

.top_box > h1 {
    margin-left: calc((100vw - 1024px)/2);
}

.scrolled_top_box li {
    color: black;
}

.top_box > nav {
    margin-right: calc((100vw - 1024px)/2);
}

/* scroll event end */


.nav_box {
    display: flex;
}

.nav_box > li {
    height: 35px;
    display: flex;
    margin-left:40px;
    cursor: pointer;
    position: relative;
    top: 10px;
    font-size: 18px;
}

.nav_box > li:hover {
    color: rgba(0,0,0, 0.8);
}

.acc_menu_hidden {
    display: none;
}

.acc_menu_apear {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: -65px;
    width: 180px;
    border-radius: 5px;
    padding: 30px 30px 20px 30px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    font-size: 16px;
}

.acc_menu_apear > li {
    color:black;
    margin-bottom: 14px;
}

.header_login{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.header_login:hover{
color: rgba(255, 255, 255);
}