.slider_wrap {
    width: 490px;
}

.big_img {
    margin-bottom: 13px;
}

.big_img > img {
    width: 490px;
    height: 400px;
    object-fit: cover;
}

/* swiper_wrap */

.swiper_wrap {
    height: 86px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.swiper_wrap > ul {
    width: 460px;
    display: flex;
}

.swiper_wrap > ul li img {
    width: 115px;
    height: 80px;
    padding: 2px;
}

.slider_wrap p {
    cursor: pointer;
}

