@font-face {
  font-family: "official_font";
  src: url(Jalnan.ttf)
}


.login_logo{
  font-family: "official_font";
  color:rgba(255, 0, 85, 1);

  font-size: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}

.login_mainWrapper{
  text-align: center;
  margin-top: 20%;
}

.login_mainWrapper h4{
  margin: 20px 0;
  font-weight: bold;
}

.login_idInput:after{
  display: inline-block;
  content: '';
  position: absolute;
  top: 12px;
  left: 11px;
  width: 18px;
  height: 14px;
  background: url('../images/logo.png') 0 0 no-repeat;
  background-size: 18px auto;
}

input{
  width: 300px;
  height: 48px;

  padding: 0 16px 0 46px;
  margin-bottom: 8px;
  padding: 0 10px 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  box-sizing: border-box;
}

.login_btn{
  width: 303px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  margin-top: 20px;

  background: linear-gradient(to right, rgba(255, 0, 85, 1) 1%, rgba(230, 34, 67, 1) 100%);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.login_linkHalf{
  height: 56px;
  margin-top: 9px;
}

.login_linkHalf span {
  text-align: center;

  margin: 0 25px;
  font-size: 15px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
}

.login_section input:focus{
  outline: 1px solid rgba(0, 0, 0, 0.26);
}

.gotojoin{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}