* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_section{
  height: 50px;
  background-color: #fff;
}

.title{
  position: absolute;
  top: 12px;
  left: 50%;
  width: 115px;
  height: 20px;
  margin: 0 0 0 -47.5px;
  background-size: 95px auto;

  line-height: 25px;
  color: red;
}

.header_menu{
  position: absolute;
  top: 2px;
  left: 8px;
  width: 40px;
  height: 40px;
  border: none;

  background: url("../images/menu.png") 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;

  cursor: pointer;
}

.header_search{
  position: absolute;
  top: 2px;
  right: 8px !important;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../images/search.png") 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
  cursor: pointer;
}

.msearch_bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  height: 44px;
  background: #f9f9f9;
}

.msearch_main{
  overflow: hidden;
  position: relative;
  margin: 6px 56px 0 16px;
  padding: 0 15px 0 35px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #fff;
}

.msearch_main input{
  border: none;
  background: none;
  width: 100%;
  height: 20px;
  margin-top: 4.5px;
  line-height: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}

.mbtn_search{
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 8px;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/search.png") 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;

  cursor: pointer;
}

.msearch_bar button{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.87);

  cursor: pointer;
}

.content{
  overflow: hidden;
}

.mainAd_wrpper{
  height: 50vw;
  background: #fff url("../images/main_ad.png") 50% 100% no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

.main_nav{
  overflow: hidden;
  padding: 16px 0;
  background: rgb(250, 250, 250);
}

.main_nav ul{
  list-style: none;
  display: block;
  /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.main_nav ul li{
  display: list-item;
  float: left;
  width: 25.5%;
}

.main_nav ul li a{
  display: block;
  overflow: hidden;
  height: 79px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  cursor: pointer;
}

.main_nav ul li a span{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.main_nav ul li a p{
  height: 20px;
  padding-top: 7px;
}

.menuBar{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 290;
  background: rgba(0, 0, 0, 0.78);
}

.menuBar_close{
  position: absolute;
  top: 10px;
  right: 16px;
  width: 24px;
  height: 24px;
  border: none;
  /* background: url("../images/close.png") 0 0 no-repeat; */
  background-size: 24px auto;
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.78);
  color: #fff; */
  /* text-indent: -9999px; */
}

.menu_wrap{
  position: fixed;
  top: 0;
  right: 56px;
  bottom: 0;
  left: 0;
  z-index: 300;
  transition: 0.8s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 56px;
  background: #fff;
}

.menu_top{
  width: 100%;
  height: 190px;
  background-color: #ff0055;
  /* background: linear-gradient(to-bottom, #ff0055 0%, #e62243 100%); */
  display: block;
  white-space: pre-wrap;

  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  color: #fff;

  font-size: 30px;
}

.menu_nav{
  background: #e8e8e8;
  overflow: hidden;
  position: absolute;
  top: 190px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
}

/* .menu_navMain{
  position: absolute;
    top: 190px;
    right: 0;
    bottom: 0;
    left: 0;
} */

.menu_navMain ul{
  list-style: none;
  margin-bottom: 8px;
  background: #fff;
  vertical-align: middle;
}

.menu_navMain ul li{
  height: 64px;
  margin: 0 16px;
  vertical-align: middle;
  line-height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}