*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 72px;
  transition: 0.4s;
  background: #f7323f;
}

.header_section{
  position: relative;
  width: 1024px;
  height: 64px;
  background: none;
  margin: 0 auto;
}

.title{
  position: absolute;
  top: 26px;
  left: 31px;

  width: 96px;
  height: 20px;
  line-height: 20px;

  margin: 0;
  background-size: 96px auto;

  color: #fff;
}

.header_search{
  position: absolute;
  border: none;
  text-indent: -9999px;
  top: 22px;
  /* right: 396px; */
  z-index: 10;
  width: 30px;
  height: 30px;

  background-size: 24px auto;
  background: #f7323f url("../images/search.png") 50% 50% no-repeat;

  transition: all 1s;
  cursor: pointer;
}

.list{
  list-style: none;

  display: inline-block;
  position: absolute;
  top: 27px;
  right: 31px;

  width: auto;
  text-align: right;
  color: #fff;
}

.list li{
  cursor: pointer;

  display: inline-block;
  position: relative;
  min-width: 53px;
  min-height: 35px;
  margin-left: 30px;
  vertical-align: top;
}

.search_bar{
  position: absolute;
  top: 24px;
  left: 50%;
  right: auto;
  width: 725px;
  height: 21px;
  margin-left: -277px;
  background: none;
  z-index: 300;
}

.search_main{
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  background: none;

  overflow: hidden;
  position: relative;
}

.search_bar input{
  /* animation-delay: 1s; */
  margin: 0;
    background: none;
    font-size: 18px;
    color: #fff;
    height: 21px;

  border: none;
  width: 100%;
  line-height: 20px;
}

.search_bar input:focus {
  border: none;
}

.search_cancel{
  top: 0px;
    right: -41px;
    width: 25px;
    height: 25px;
    background-size: 24px auto;
    text-indent: -9999px;
    cursor: pointer;

    border: none;
  font-size: 14px;
    line-height: 44px;
    background: #f7323f url("../images/noBackground_close.png") 50% 50% no-repeat;;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
      position: absolute;
}

.content{
  height: 100vh;
  overflow: hidden;
}

.mainAd_Wrapper{
  height: 580px;
    background: #fff url("../images/main_ad.png") 50% 100% no-repeat;
    background-size: 924px auto;
}

.main_link{
  overflow: hidden;
  padding: 32px 0;
  margin: 0 auto;
  background: rgb(253, 253, 253);
}

.main_link ul{
  overflow: hidden;
    /* width: 1024px; */
    text-align: center;
    margin: 0 auto;

    list-style: none;
}

.main_link ul li{
  /* float: left; */
  display: inline-block;
  margin: -1.5px;
  width: 163px;
}

.main_link ul li a{
  display: block;
    overflow: hidden;
    height: 100px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    cursor: pointer;
    background-color: #ccc;
}

.main_link ul li a span{
  display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.main_link ul li a p{
  height: 20px;
  padding-top: 7px;
}